*{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    text-decoration: none !important;
    font-family: 'Oswald', sans-serif;
}

/* .modal-position{
    margin-left: 35% !important;
} */

.vvvvv{
    border-top: 1px solid rgb(61, 61, 61);
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.hauteur-min{
    min-height: 800px !important;
}

.color-nav{
    background-color: black;
}

.color-nav2{
    background-color: #F8FBFA;   
}


.logo{
    height: 70px;
    width: 70px;
}

.color-menu{
    color: black;
}

.main-inscription{
    background-image: url("../img/img2.jpg");
    background-size: contain;
}

.div-inscription{
    background-color: rgba(240, 248, 255, 0.548) !important;
}

.form-inscription{
    padding: 30px !important;
    /* border: 2px solid rgba(19, 19, 19, 0.767);
    border-radius: 10px; */
}

.main{
    min-height: 900px;
}

.icon-1{
    color: white;
}

.nav-header-1:hover{
    color: white;
    text-decoration: underline !important;
}

.nav-header-2:hover{
    background: white;
    color: black !important;
    text-decoration: underline !important;
    border-radius: 7px;
}

.nav-footer:hover{
    text-decoration: underline !important;
    color: white !important;
    font-size: 1.2em !important;    
}

.nav-header{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-header:hover{
    border: 1px solid white;
    background-color: black;
    color: white !important;
    border-radius: 5px;
}

.nav-link{
    color: white;
}

.three-icon{
    display: flex;
    flex-direction: row;
}

.icon-logo-soc{
    font-size: 3em;
    color: white;
    margin: 15px !important;
}

.icon-logo{
    font-size: 2em;
}

.icon-logo-2{
    font-size: 1.5em;
}

.logo{
    margin: 10px !important;
    font-size: 2em;
}

.lien{
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

a{
    color: white;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.lien-connect{
    border-left: 0.5px solid white;
    
}

.ch1{
    display: flex;
    
    
}

.H{
     color: black;
}


#connexion{
    width: 400px !important;
    height: 300px !important;
    border: 2px solid white;
    padding: 20px !important;
    margin: auto !important;
    margin-top: 100px !important;
    box-shadow: rgba(0, 0, 0, 0.281)  0px 0px 10px 10px !important;
    border-radius: 10px;
}

.trans{
    background-color: #f8fbfa28;
}

.lien-inscrip:hover{
    text-decoration: underline !important;
    color: black !important;
}

.shoes_card
{
    width: 30%;
    height: auto;

}

.container1 {
    display: flex;
    width: 960px;
    margin: 0 auto;

}


.btn-details{
    text-decoration: underline;
}

.modal{
    
        width: 1000px;
        height: 1000px;
        position: absolute;
        left: 50%;
        top: 50%; 
        margin-left: -150px;
        /* margin-right: 150px; */
        margin-top: -150px;
        justify-content: center;
     
}

/*################# carte article panier #####################*/

.boite-1{
    margin-left: 10% !important;
    margin-right: 10% !important;
    border: 1px solid black;
    padding: 0 !important;

}

.boite-synth{
    border: 1px solid black;
    margin-left: 10% !important;
    margin-right: 30% !important;
}

/* .boite-2{
    border: 1px solid red;
    padding-left: 1em !important;
}

.boite-3{
    border: 1px solid green;
}

.boite-4{
    border: 1px solid blue;
    padding: 0 !important;
}

.boite-4 img{
    height: 100%;
}  */