.conteneur_best_seller{
    display: flex!important;
    flex-wrap: wrap!important;
}

.conteneur_image{
    width: 17%!important;
    height: auto!important;
}

.liens_categories{
    display: flex!important;
    flex-wrap: wrap!important;
}

.liens_categories a{
    margin: 4px 0!important;
}

.civilite{
    width:25%!important;
}

.civilite fieldset legend{
    margin-bottom: 5px!important;
}

.conteneur-photo{
    display: flex!important;
    justify-content: space-around!important;
    height: 70%!important;
}

.conteneur-photo img{
    width: 95%!important;
    height: 95%!important;
}

.conteneur-choix{
    width: 45%!important;
}

.tailleselec, .colorselec{
    display: flex!important;
    flex-wrap: wrap!important;
}

.tailleselec div{
    text-align: center;
}

.colorselec div{
    text-align: center;
}

/* ///////////////////////////////////////////////////MEDIA QUERIES ACCUEIL ///////////////////////////// */
@media screen and (max-width:1000px){
    .conteneur_image{
        width: 30%!important;
        height: auto!important;
       
    }
}


@media screen and (max-width:650px){
    .conteneur_image{
        width: 40%!important;
        height: auto!important;
       
    }
}

@media screen and (max-width:400px){
    .conteneur_image{
        width: 70%!important; 
    }
}

/* ///////////////////////////////////////////////////MEDIA QUERIES CATEGORIES ///////////////////////////// */

@media screen and (max-width:940px){
    .details_chaussure{
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }

    .carte_chaussure p{
        text-align: center!important;
    }
}

@media screen and (max-width:780px){
    .carte_chaussure{
        width: 45%!important;
        margin-top: 2rem!important;

    }
}

@media screen and (max-width:400px){
    .carte_chaussure{
        width: 90%!important;
        margin-bottom: 5px!important;

    }

    .liens_categories{
            font-size: 1.25rem!important;
        }

}

/* //////////////////////////////////////////////// MEDIA QUERIES PAGE INSCRIPTION /////////////////////////// */

@media screen and (max-width:1350px){
    .form-inscription{
        width: 70%!important;
    }

    .civilite{
        width:22%!important;
    }
}


@media screen and (max-width:780px){
    .form-inscription{
        width: 80%!important;
    }

    .civilite{
        width: 30%!important;
    }
}

@media screen and (max-width:640px){
    .civilite{
        width: 40%!important;
        margin: 0 auto!important;
        text-align: center!important;
    }
    
    .coordonnees{
        display: flex!important;
        flex-direction: column!important;

    }

    .coordonnees div, .champtel{
        width: 100%!important;
    }

}


@media screen and (max-width:460px){
    .form-inscription{
        width: 100%!important;
        padding:15px!important;
    }

    .champsex{
        display: flex!important;
        flex-direction: column!important;
       
    }

    .champsex div{
        display: flex!important;
        margin-bottom: 8px!important;
        justify-content: center!important;
    }

    .champsex div label{
        margin-left: 7px!important;
    }

    button{
        width: 60%!important;
    }
}
 /* ///////////////////////////////////////////////PAGE CONNEXION/////////////////////////////////////////// */

 @media screen and (max-width:1150px){
     .mess{
         width: 55%!important;
     }
 }
 @media screen and (max-width:470px){

     #connexion{
         width: 80%!important;
     }

     .mess{
        width: 80%!important;
    }
 }


@media screen and (max-width:335px){

    #connexion{
        width: 95%!important;
    }

    button{
        width: 80%!important;
    }

}

/* ///////////////////////////////////////////////PROFIL/////////////////////////////////////////// */

@media screen and (max-width:450px){
    #connexion-2{
        width: 95%!important;
    }

    #connexion-2 p{
        width: 90%!important;
        margin:0 auto!important;
    }

    #connexion-2 a{
        width: 60%!important;
        display: block!important;
        margin: 10px auto!important;
        
    }

    .infos{
        height: 70%!important;
        display: flex!important;
        flex-direction: column!important;
        justify-content: space-around!important;
    }

}

/* ///////////////////////////////////////////// MEDIA QUERIES DETAILS ARTICLE ////////////////////////*/

@media screen and (max-width:1450px){
    .tailleselec, .colorselec{
        width: 60%!important;
    }
    
    .champcom{
        width: 95%!important;
        margin: 0 auto!important;
    }

    .notation{
        width: 30%!important;
    }

    .message{
        width: 70%!important;
    }
    
    .bouton-ajout-panier{
        width: 35%!important;
    }
}


@media screen and (max-width:900px){
    .tailleselec, .colorselec{
        width: 100%!important;
    }

    .champcom{
        width: 100%!important;
    }

    .bouton-ajout-panier{
        width: 45%!important;
    }
    .conteneur-photo{
            width:50%!important;
    }

    .conteneur-com{
        display: flex!important;
        flex-direction: column!important;

    }
    
    .message{
        width: 100%!important;
    }

    .notation{
        width: 100%!important;
    }

    .notation fieldset legend{
        text-align: center!important;
    }
    
}

@media screen and (max-width:650px){

    .conteneur-photo div{
        width: 80%!important;
        height: 45%!important;
        margin:5px!important;
    }

    .conteneur-photo div img{
        width: 100%!important;
        height: 100%!important;
    }
}

@media screen and (max-width:480px){
    .main-conteneur{
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        margin: 15px 0px!important;
        
    } 

    .conteneur-photo{
        width: 95%!important;
    }

    .conteneur-photo div{
        width: 45%!important;
        height: 45%!important;
    }

    .conteneur-choix{
        width: 95%!important;
        margin: 15px 0!important;
    }

    .conteneur-choix h4, .conteneur-choix h5{
        text-align: center!important;
    }
    .description{
        text-align: center!important;
        margin: 5px 5px!important;
    }

    .tailleselec div {
        width: 15%!important;
    }

    .colorselec div {
        width: 20%!important;
    }

}

/* ///////////////////////////////////////////// MEDIA QUERIES PANIER ////////////////////////*/

@media screen and (max-width:940px){
    
    .boite-synth, .boite-1{
        margin:0% 2% 10% 2%!important;
    }
  
}

@media screen and (max-width:830px) {
    
    .prix p, .prix a{
        font-size: 1.3rem!important;
        margin: 0!important;
       
    }

    .btn-modifier, .btn-payer{
        width: 45%!important;
    }
}

@media screen and (max-width:720px){

    .conteneur{
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }

    .box-produit{
       width: 100%!important;
    }
    
    .image{
        width: 40%!important;
    }

    .details{
        width:30%!important
    }

    .prix{
        width: 29%!important;
    }
   .box-commande{
       width: 65%;
   }

}

@media screen and (max-width:490px){

    .prix{
        display: flex!important;
        flex-direction: column!important;
        justify-content: flex-start!important;
    }

    .details{
        width: 30%!important;
    }

    .box-commande{
        width: 90%;
    }
}
