{% extends 'base.html.twig' %}

{% block title %}
    Shoes Me | Enfants
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}
{% block body %}


<div class="d-flex flex-row justify-content-center mx-auto my-5 section-enfant">
    
    
        <div class="section-fille d-flex justify-content-center align-items-center mx-2"> 

            <div class="fs-3 bouton-bas-enfant">
               <a href="{{ path('fille')}}">FILLE</a>
            </div>

        </div>
    

        <div class="section-garcon d-flex justify-content-center align-items-center mx-2">   

            <div class="fs-3 bouton-bas-enfant">
               <a href="{{ path('garcon')}}">GARCON</a>
            </div>
            
        </div>

  </div>
    
{% endblock %}
