{% extends "base.html.twig" %}

{% block title %}
ShoesMe | Commande
{% endblock %}

{% block body %}
<h1>Récapitulatif commande</h1>
{{dump(dataCommande)}}
{# Il va falloir boucler... #}
{% endblock %}